body{
    margin:0;
    padding:0;
    display:relative;
}
img{
    width: 150px;
    height: 150px;
    display: absolute;

}
.overlay{
    display: absolute;
    width: 100%;
    height : 100vh;
    border: 1px solid black;
    background-color: black;
    opacity:0.7;

}
.blackout{
    display: absolute;
    width: 100%;
    height : 100vh;
    border: 1px solid black;
    background-color: black;
    opacity:1;
}